# Firebase Configuration
# Get these values from Firebase Console > Project Settings > Your apps

VITE_FIREBASE_API_KEY="AIzaSyBD_pbXv6YgMSXo58mT7VArGKvQajLRxw4"
VITE_FIREBASE_AUTH_DOMAIN="mymotolog-b5fb2.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mymotolog-b5fb2"
VITE_FIREBASE_STORAGE_BUCKET="mymotolog-b5fb2.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1077689098147"
VITE_FIREBASE_APP_ID="1:1077689098147:web:3feb0335e7d67d2ccd8416"

# Gemini AI API Key
VITE_GEMINI_API_KEY=AIzaSyB8H81csz2kLcn6AfCvHttzn9jkkoK28Bs

VITE_MINDEE_API_KEY=md_LMVk67251WzaicQ_0eiIUCgAD68DaJ6KpW-ZTnr4krI